.job-card {
    /* Add shadows to create the "job-card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px, slategray;
    width: 48%;
    margin: auto;
    padding: 3px;
}
  
/* On mouse-over, add a deeper shadow */
.job-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}